# Django stuff:
*.log
local_settings.py
db.sqlite3-journal
blog_app/__pycache__/*
blog_app/migrations/__pycache__/*
accounts_app/__pycache__/*
accounts_app/migrations/__init__.py
accounts_app/migrations/__pycache__/__init__.cpython-38.pyc
blog_project/__pycache__/__init__.cpython-38.pyc
blog_project/__pycache__/settings.cpython-38.pyc
blog_project/__pycache__/urls.cpython-38.pyc
blog_project/__pycache__/wsgi.cpython-38.pyc
blog_app/migrations/__init__.py
blog_app/migrations/0001_initial.py
blog_app/migrations/0002_blog_date.py
.vscode
