{% extends "index.html"%}
{% load static %}
{% block aboutblock %}
<h1 style="text-align: center; text-decoration: underline; ">
    About Us
</h1>
<p style="text-align: center;">
    This is a webpage specifically designed to use only as a demonstration for the "Coderhouse Final Project".
</p>
<p style="text-align: center;">
    Because this is for showing my backend programming skills only the CSS throughout the webpage will be little to
    none.
</p>
<p style="text-align: center;">
    Ipso facto this will look like a 90s webpage
</p>
<p style="text-align: center;">
    Since there's nothing left to clarify here's a pineapple piza (which is also the best pizza ever)
</p>
<br>
<div style="display: flex; justify-content: center; ">
    <div style="justify-content: center;">
        <img src="https://i.imgur.com/7lQnQue.png" alt="">
    </div>
</div>
<br>
<p style="text-align: center;">enjoy</p>
{% endblock %}