<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

{% extends "index.html"%}
{% load static %}
{% block blog_postsblock %}
<h1 style="text-align: center;">
    This are the posts
</h1>
<p style="text-align: center;"><a href="{url 'create_blog_post'}"></a></p>
<div class="post-container">
    {% for post in posts %}
    <h4 class="post-title" style="text-align:center; text-decoration: underline;"> <a
            href="{% url 'blog_post' post.id %}">{{post.title}}</a></h4>
    <h4 class="post-sub-title" style="text-align: center;">
        <p> </p>{{post.sub_title}}
    </h4>
    <!-- <img src="{}" alt="">  Aca iria la imagen del post -->
    <p class="post-body" style="text-align: center;"><i>"{{post.body}}"</i></p>
    <p class="post-author" style="text-align:center"> {{post.author}}</p>
    <p class="pot-date" style="text-align:center"> ~ {{post.date}} ~ </p>
    <p>__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    {% endfor %}
    <br>
</div>
{% endblock %}