<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Quotes</title>
</head>

<body>
    <h1> Welcome to the Homepage</h1>
    <h1>{{message}}</h1>
    <div class="container-entries">
        <p>This are all the entries</p>
        <ul class="entries-menu">
            <div>
                <a href="{% url 'home' %}">
                    <p class="menu-title">Home</p>
                </a>
            </div>
            <div>
                <a href="{% url 'blog_posts' %}">
                    <p class="menu-title">Blog-Posts / Pages </p>
                </a>
            </div>
            <div>
                <a href="{% url 'login' %}">
                    <p class="menu-title">Login</p>
                </a>
            </div>
            <div>
                <a href="{% url 'logout' %}">
                    <p class="menu-title">Logout</p>
                </a>
            </div>
            <div>
                <a href="{% url 'about' %}">
                    <p class="menu-title">About</p>
                </a>
            </div>
            <div>
                <a href="{% url 'sign-up' %}">
                    <p class="menu-title">Sign-up</p>
                </a>
            </div>
            <div>
                <a href="{% url 'blog_post_create' %}">
                    <p class="menu-title">Create Post</p>
                </a>
            </div>
            <div>
                <a href="{% url 'edit-user' %}">
                    <p class="menu-title">Edit User</p>
                </a>
            </div>
        </ul>
    </div>

    <h3>{{message}}</h3>
    <h3>{{message_creation}}</h3>
    <ul>
        {% block homeblock %}
        {% endblock %}
    </ul>
    {% block aboutblock %}
    {% endblock %}
    {% block blog_postsblock %}
    {% endblock %}
    {% block blog_post %}
    {% endblock %}
    {% block blog_post_delete %}
    {% endblock %}
    {% block create_blog_postblock %}
    {% endblock %}
    {% block blog_post_edit %}
    {% endblock %}
    {% block edit_user_block %}
    {% endblock %}
</body>

</html>